src/conf/xml-resources/web-service-references/PackageManageWebService/wsdl/localhost_8080/PackageManageWebService/PackageManageWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.sd.utcluj.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.sd.utcluj.edu/" name="PackageManageWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.sd.utcluj.edu/" schemaLocation="http://localhost:8080/PackageManageWebService/PackageManageWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="statusUpdate">
<part name="parameters" element="tns:statusUpdate"/>
</message>
<message name="statusUpdateResponse">
<part name="parameters" element="tns:statusUpdateResponse"/>
</message>
<message name="statusCheck">
<part name="parameters" element="tns:statusCheck"/>
</message>
<message name="statusCheckResponse">
<part name="parameters" element="tns:statusCheckResponse"/>
</message>
<message name="listAllPackages">
<part name="parameters" element="tns:listAllPackages"/>
</message>
<message name="listAllPackagesResponse">
<part name="parameters" element="tns:listAllPackagesResponse"/>
</message>
<message name="retrieveUserPackages">
<part name="parameters" element="tns:retrieveUserPackages"/>
</message>
<message name="retrieveUserPackagesResponse">
<part name="parameters" element="tns:retrieveUserPackagesResponse"/>
</message>
<portType name="PackageManageWebService">
<operation name="persist">
<input wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="statusUpdate">
<input wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/statusUpdateRequest" message="tns:statusUpdate"/>
<output wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/statusUpdateResponse" message="tns:statusUpdateResponse"/>
</operation>
<operation name="statusCheck">
<input wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/statusCheckRequest" message="tns:statusCheck"/>
<output wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/statusCheckResponse" message="tns:statusCheckResponse"/>
</operation>
<operation name="listAllPackages">
<input wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/listAllPackagesRequest" message="tns:listAllPackages"/>
<output wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/listAllPackagesResponse" message="tns:listAllPackagesResponse"/>
</operation>
<operation name="retrieveUserPackages">
<input wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/retrieveUserPackagesRequest" message="tns:retrieveUserPackages"/>
<output wsam:Action="http://webservice.sd.utcluj.edu/PackageManageWebService/retrieveUserPackagesResponse" message="tns:retrieveUserPackagesResponse"/>
</operation>
</portType>
<binding name="PackageManageWebServicePortBinding" type="tns:PackageManageWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="statusUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="statusCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAllPackages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveUserPackages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PackageManageWebService">
<port name="PackageManageWebServicePort" binding="tns:PackageManageWebServicePortBinding">
<soap:address location="http://localhost:8080/PackageManageWebService/PackageManageWebService"/>
</port>
</service>
</definitions>