web/WEB-INF/wsdl/localhost_8080/PackageManageWebService/PackageManageWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.sd.utcluj.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.sd.utcluj.edu/">

<xs:element name="appusers" type="tns:appusers"/>

<xs:element name="listAllPackages" type="tns:listAllPackages"/>

<xs:element name="listAllPackagesResponse" type="tns:listAllPackagesResponse"/>

<xs:element name="packages" type="tns:packages"/>

<xs:element name="persist" type="tns:persist"/>

<xs:element name="persistResponse" type="tns:persistResponse"/>

<xs:element name="retrieveUserPackages" type="tns:retrieveUserPackages"/>

<xs:element name="retrieveUserPackagesResponse" type="tns:retrieveUserPackagesResponse"/>

<xs:element name="statusCheck" type="tns:statusCheck"/>

<xs:element name="statusCheckResponse" type="tns:statusCheckResponse"/>

<xs:element name="statusUpdate" type="tns:statusUpdate"/>

<xs:element name="statusUpdateResponse" type="tns:statusUpdateResponse"/>

<xs:element name="trackedpackages" type="tns:trackedpackages"/>

<xs:element name="userpackage" type="tns:userpackage"/>

<xs:complexType name="statusCheck">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statusCheckResponse">
<xs:sequence>
<xs:element name="return" type="tns:trackedpackages" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trackedpackages">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="userpackageId" type="tns:userpackage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userpackage">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="packageId" type="tns:packages" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="tns:appusers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="packages">
<xs:sequence>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="weight" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appusers">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statusUpdate">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statusUpdateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveUserPackages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveUserPackagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:userpackage" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="arg0" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persistResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listAllPackages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listAllPackagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:packages" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>